*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #24303c;
    padding: 20px;
    border-radius: 1px;
}
body {
    background-image: url();
    width: 100%;
    height: screen;
}
    
h1.Title{
    color: #2323;
    margin-top: 300px;
}
h2.bd{
    margin: auto;
    margin-right: center;   
    color: black;
    margin-top: 50px;
    opacity: 1;
}