*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #24303c;
    padding: 20px;
    border-radius: 1px;
}
body {
    background-image: url();
    width: 100%;
    height: screen;
    background-color: rgb(216, 213, 213);
}
    
h1{
    color: black;
    margin-top: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
h2.bd{
    margin: auto;
    margin-right: center;   
    color: black;
    margin-top: 50px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}