body {
    background-color: rgba(0, 204, 255, 0.781);
    opacity: 1;
    width: screen;
    height: screen;
}

p{
    background-color: white;
    width: 1100px;
    height: 400px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -140px;
    color: #23557c;
    margin-top: -140px;
}

h1{
    color: #23557c;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;  
    opacity: 1;
}

h3{
    margin-top: 0px;
}

h4{
    width: 700px;
    height: 100px;
    margin: auto;
    margin-top: -400px ;
    background-color: #24303c;
}