*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 204, 255, 0.781);
    opacity: 1;
    width: screen;
    height: screen;
}

p{
    background-color: white;
    width: 1200px;
    height: 420px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -140px;
    color: #23557c;
    margin-top: -140px;
}

h1{
    color: #23557c;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;  
    opacity: 1;
}

h3{
    margin-top: 0px;
    margin-left: auto;
}

h4{
    width: 1100px;
    height: 490px;
    margin: auto;
    margin-top: -550px ;
    background-color: #24303c;
    border-radius: 5px;
    opacity: 0.9;
    color: white;
}