*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #24303c;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 10px 5px 25px #24303c;
    background-image: url(./50-506632_why-choose-hypervsn-3d-holographic-displays-over-competitors.jpg);
    z-index: -2;
    
}

body {
    width: 100%;
    height: screen;
    background-color: rgb(216, 213, 213);
}

header.logo{
    
    z-index: 1;   
     
}

div.Hed{
    text-decoration: underline
    
}

h1{
    color: black;
    margin-top: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    text-decoration: underline;
}
h2.bd{
    margin: auto;
    margin-right: center;   
    color: black;
    margin-top: 50px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}